html {
    height: 100%;
}

body {
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
}
.header{
    min-height: 100vh !important;
    height: auto;
    background: url('../img/header.gif');
    background-position: center;
    background-size: cover;
}

.navbar{
    padding-top: 50px;
}
li img{
    height: 40px;
}

li a{
    font-family: 'Noway', Arial, sans-serif;
    font-style: italic;
}

.nav-link{
    color: #fff !important;
}


.nav-item i{
    color: #fff;
    letter-spacing: 20px;
}
.sticky{
    position:fixed; 
    top:0;
    right:0;
    left:0;
    z-index: 9999;
    padding: 0;
    margin: 0;
    background:#fff !important;
    -webkit-box-shadow: 0px -4px 17px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -4px 17px 0px rgba(0,0,0,0.75);
    box-shadow: 0px -4px 17px 0px rgba(0,0,0,0.75);
        -webkit-animation:slideInDown 1s ease 0s  normal;
    -moz-animation:slideInDown 1s ease 0s  normal;
    -ms-animation:slideInDown 1s ease 0s  normal;
    animation:slideInDown 1s ease 0s  normal;
}
    
}

.navbar-affix{
    height:45px;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    padding-top: 100px;
}

.enter-content{
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
}
.slogan h1{
    font-family: 'Franklin Gothic Heavy', arial;
    text-transform: uppercase;
    font-weight: 900;
    color: #fff;
    line-height: 60px;
    font-size: 80px;
}

h1 #and{
    font-size: 130px;
    color: #3a6dff;
}

.separator{
    background-color: #3a6dff;
    width: 50%;
    height: 2px;
    border-radius: 10px;
    margin-top: 10%;
    margin-bottom: 5%;
}

.slogan-more h6{
    font-family: 'Noway', Arial, sans-serif;
    color: #fff;    
}
.logo-affix{
    height: 20px;
}
.logo-xs{
    display: none;
    height: 25px;
    padding-left: 50px;
}
.button-more{
   display: flex;
   justify-content: center;
   align-content: center;
   padding-top: 50px;
}
.social-xs-i{
    color: #fff;
}

.btn{
    border-radius: 0%;
    color: #fff;
    border-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn:hover{
    background-color: #ff5454;
    border: #ff5454;
}

.gallery{
    min-height: 100vh;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
}

.section-title h1{
    font-family: 'Anodina';
    font-weight: 900;
    font-style: normal;
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    color: #fff;
}

.section-title::after{
    content: "";
    width: 203px;
    height: 86px;
    background:url('../img/titlebackground.png');
    position: absolute;
    display: inline-block;
    left: 50%;
    transform: translate(-50%);
    margin-top: 75px;
    z-index: 0;
}

.gallery-title-more{
    padding-top: 200px;
    width: 800px;
}

.gallery-title-more h6{
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.gallery-title-more h6>span{
    font-weight: 700;
}

.gallery-content{
    margin-top: 100px;
}

.box-wrapper{
    width: 100%;
}
.box{
    background-color: #f0f0f0;
    height: 250px;
    width: 350px;
    float: left;
    margin: 10px;
}

.testimonials{
    position: relative;
    height: 100vh;
    padding-top: 150px;
}
.section-title-testi{
    position: relative;
}

.section-title-testi h1{
    font-family: 'Anodina';
    font-weight: 900;
    font-style: normal;
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    color: #000;
}

.section-title-testi::before{
    content: "";
    width: 418px;
    height: 72px;
    background:url('../img/testimonials.png');
    position: absolute;
    display: inline-block;
    left: 50%;
    transform: translate(-50%);
    margin-top: 75px;
    z-index: 0;
}

.testim {
    width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translatey(-50%);
    -moz-transform: translatey(-50%);
    -ms-transform: translatey(-50%);
    -o-transform: translatey(-50%);
    transform: translatey(-50%);
}

.testim .wrap {
position: relative;
width: 100%;
max-width: 1020px;
padding: 40px 20px;
margin: auto;
}

.testim .arrow {
display: block;
position: absolute;
color: #eee;
cursor: pointer;
font-size: 2em;
top: 50%;
-webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
-webkit-transition: all .3s ease-in-out;    
-ms-transition: all .3s ease-in-out;    
-moz-transition: all .3s ease-in-out;    
-o-transition: all .3s ease-in-out;    
transition: all .3s ease-in-out;
padding: 5px;
z-index: 22222222;
}

.testim .arrow:before {
    cursor: pointer;
}

.testim .arrow:hover {
color: #ea830e;
}


.testim .arrow.left {
left: 10px;
}

.testim .arrow.right {
right: 10px;
}

.testim .dots {
text-align: center;
position: absolute;
width: 100%;
bottom: 60px;
left: 0;
display: block;
z-index: 3333;
    height: 12px;
}

.testim .dots .dot {
list-style-type: none;
display: inline-block;
width: 12px;
height: 12px;
border-radius: 50%;
border: 1px solid #eee;
margin: 0 10px;
cursor: pointer;
-webkit-transition: all .5s ease-in-out;    
-ms-transition: all .5s ease-in-out;    
-moz-transition: all .5s ease-in-out;    
-o-transition: all .5s ease-in-out;    
transition: all .5s ease-in-out;
    position: relative;
}

.testim .dots .dot.active,
.testim .dots .dot:hover {
background: #ea830e;
border-color: #ea830e;
}

.testim .dots .dot.active {
-webkit-animation: testim-scale .5s ease-in-out forwards;   
-moz-animation: testim-scale .5s ease-in-out forwards;   
-ms-animation: testim-scale .5s ease-in-out forwards;   
-o-animation: testim-scale .5s ease-in-out forwards;   
animation: testim-scale .5s ease-in-out forwards;   
}
.last-slogan{
    color: #fff;
    font-family: 'Anodina';
    font-weight: 500;
    font-style: normal;
    padding-top: 65px;
    font-size: 20px;
}
.testim .cont {
position: relative;
    overflow: hidden;
}

.testim .cont > div {
text-align: center;
position: absolute;
top: 0;
left: 0;
padding: 0 0 70px 0;
opacity: 0;
}

.testim .cont > div.inactive {
opacity: 1;
}


.testim .cont > div.active {
position: relative;
opacity: 1;
}


.testim .cont div .img img {
display: block;
width: 100px;
height: 100px;
margin: auto;
border-radius: 50%;
}

.testim .cont div h2 {
color: #ea830e;
font-size: 1em;
margin: 15px 0;
}

.testim .cont div p {
font-size: 1.15em;
color: #eee;
width: 80%;
margin: auto;
}

.testim .cont div.active .img img {
-webkit-animation: testim-show .5s ease-in-out forwards;            
-moz-animation: testim-show .5s ease-in-out forwards;            
-ms-animation: testim-show .5s ease-in-out forwards;            
-o-animation: testim-show .5s ease-in-out forwards;            
animation: testim-show .5s ease-in-out forwards;            
}

.testim .cont div.active h2 {
-webkit-animation: testim-content-in .4s ease-in-out forwards;    
-moz-animation: testim-content-in .4s ease-in-out forwards;    
-ms-animation: testim-content-in .4s ease-in-out forwards;    
-o-animation: testim-content-in .4s ease-in-out forwards;    
animation: testim-content-in .4s ease-in-out forwards;    
}

.testim .cont div.active p {
-webkit-animation: testim-content-in .5s ease-in-out forwards;    
-moz-animation: testim-content-in .5s ease-in-out forwards;    
-ms-animation: testim-content-in .5s ease-in-out forwards;    
-o-animation: testim-content-in .5s ease-in-out forwards;    
animation: testim-content-in .5s ease-in-out forwards;    
color: #000;
}

.testim .cont div.inactive .img img {
-webkit-animation: testim-hide .5s ease-in-out forwards;            
-moz-animation: testim-hide .5s ease-in-out forwards;            
-ms-animation: testim-hide .5s ease-in-out forwards;            
-o-animation: testim-hide .5s ease-in-out forwards;            
animation: testim-hide .5s ease-in-out forwards;            
}

.testim .cont div.inactive h2 {
-webkit-animation: testim-content-out .4s ease-in-out forwards;        
-moz-animation: testim-content-out .4s ease-in-out forwards;        
-ms-animation: testim-content-out .4s ease-in-out forwards;        
-o-animation: testim-content-out .4s ease-in-out forwards;        
animation: testim-content-out .4s ease-in-out forwards;        
}

.testim .cont div.inactive p {
-webkit-animation: testim-content-out .5s ease-in-out forwards;    
-moz-animation: testim-content-out .5s ease-in-out forwards;    
-ms-animation: testim-content-out .5s ease-in-out forwards;    
-o-animation: testim-content-out .5s ease-in-out forwards;    
animation: testim-content-out .5s ease-in-out forwards;    
}

@-webkit-keyframes testim-scale {
0% {
    -webkit-box-shadow: 0px 0px 0px 0px #eee;
    box-shadow: 0px 0px 0px 0px #eee;
}

35% {
    -webkit-box-shadow: 0px 0px 10px 5px #eee;        
    box-shadow: 0px 0px 10px 5px #eee;        
}

70% {
    -webkit-box-shadow: 0px 0px 10px 5px #ea830e;        
    box-shadow: 0px 0px 10px 5px #ea830e;        
}

100% {
    -webkit-box-shadow: 0px 0px 0px 0px #ea830e;        
    box-shadow: 0px 0px 0px 0px #ea830e;        
}
}

@-moz-keyframes testim-scale {
0% {
    -moz-box-shadow: 0px 0px 0px 0px #eee;
    box-shadow: 0px 0px 0px 0px #eee;
}

35% {
    -moz-box-shadow: 0px 0px 10px 5px #eee;        
    box-shadow: 0px 0px 10px 5px #eee;        
}

70% {
    -moz-box-shadow: 0px 0px 10px 5px #ea830e;        
    box-shadow: 0px 0px 10px 5px #ea830e;        
}

100% {
    -moz-box-shadow: 0px 0px 0px 0px #ea830e;        
    box-shadow: 0px 0px 0px 0px #ea830e;        
}
}

@-ms-keyframes testim-scale {
0% {
    -ms-box-shadow: 0px 0px 0px 0px #eee;
    box-shadow: 0px 0px 0px 0px #eee;
}

35% {
    -ms-box-shadow: 0px 0px 10px 5px #eee;        
    box-shadow: 0px 0px 10px 5px #eee;        
}

70% {
    -ms-box-shadow: 0px 0px 10px 5px #ea830e;        
    box-shadow: 0px 0px 10px 5px #ea830e;        
}

100% {
    -ms-box-shadow: 0px 0px 0px 0px #ea830e;        
    box-shadow: 0px 0px 0px 0px #ea830e;        
}
}

@-o-keyframes testim-scale {
0% {
    -o-box-shadow: 0px 0px 0px 0px #eee;
    box-shadow: 0px 0px 0px 0px #eee;
}

35% {
    -o-box-shadow: 0px 0px 10px 5px #eee;        
    box-shadow: 0px 0px 10px 5px #eee;        
}

70% {
    -o-box-shadow: 0px 0px 10px 5px #ea830e;        
    box-shadow: 0px 0px 10px 5px #ea830e;        
}

100% {
    -o-box-shadow: 0px 0px 0px 0px #ea830e;        
    box-shadow: 0px 0px 0px 0px #ea830e;        
}
}

@keyframes testim-scale {
0% {
    box-shadow: 0px 0px 0px 0px #eee;
}

35% {
    box-shadow: 0px 0px 10px 5px #eee;        
}

70% {
    box-shadow: 0px 0px 10px 5px #ea830e;        
}

100% {
    box-shadow: 0px 0px 0px 0px #ea830e;        
}
}

@-webkit-keyframes testim-content-in {
from {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}

to {
    opacity: 1;
    -webkit-transform: translateY(0);        
    transform: translateY(0);        
}
}

@-moz-keyframes testim-content-in {
from {
    opacity: 0;
    -moz-transform: translateY(100%);
    transform: translateY(100%);
}

to {
    opacity: 1;
    -moz-transform: translateY(0);        
    transform: translateY(0);        
}
}

@-ms-keyframes testim-content-in {
from {
    opacity: 0;
    -ms-transform: translateY(100%);
    transform: translateY(100%);
}

to {
    opacity: 1;
    -ms-transform: translateY(0);        
    transform: translateY(0);        
}
}

@-o-keyframes testim-content-in {
from {
    opacity: 0;
    -o-transform: translateY(100%);
    transform: translateY(100%);
}

to {
    opacity: 1;
    -o-transform: translateY(0);        
    transform: translateY(0);        
}
}

@keyframes testim-content-in {
from {
    opacity: 0;
    transform: translateY(100%);
}

to {
    opacity: 1;
    transform: translateY(0);        
}
}

@-webkit-keyframes testim-content-out {
from {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

to {
    opacity: 0;
    -webkit-transform: translateY(-100%);        
    transform: translateY(-100%);        
}
}

@-moz-keyframes testim-content-out {
from {
    opacity: 1;
    -moz-transform: translateY(0);
    transform: translateY(0);
}

to {
    opacity: 0;
    -moz-transform: translateY(-100%);        
    transform: translateY(-100%);        
}
}

@-ms-keyframes testim-content-out {
from {
    opacity: 1;
    -ms-transform: translateY(0);
    transform: translateY(0);
}

to {
    opacity: 0;
    -ms-transform: translateY(-100%);        
    transform: translateY(-100%);        
}
}

@-o-keyframes testim-content-out {
from {
    opacity: 1;
    -o-transform: translateY(0);
    transform: translateY(0);
}

to {
    opacity: 0;
    transform: translateY(-100%);        
    transform: translateY(-100%);        
}
}

@keyframes testim-content-out {
from {
    opacity: 1;
    transform: translateY(0);
}

to {
    opacity: 0;
    transform: translateY(-100%);        
}
}

@-webkit-keyframes testim-show {
from {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

to {
    opacity: 1;
    -webkit-transform: scale(1);       
    transform: scale(1);       
}
}

@-moz-keyframes testim-show {
from {
    opacity: 0;
    -moz-transform: scale(0);
    transform: scale(0);
}

to {
    opacity: 1;
    -moz-transform: scale(1);       
    transform: scale(1);       
}
}

@-ms-keyframes testim-show {
from {
    opacity: 0;
    -ms-transform: scale(0);
    transform: scale(0);
}

to {
    opacity: 1;
    -ms-transform: scale(1);       
    transform: scale(1);       
}
}

@-o-keyframes testim-show {
from {
    opacity: 0;
    -o-transform: scale(0);
    transform: scale(0);
}

to {
    opacity: 1;
    -o-transform: scale(1);       
    transform: scale(1);       
}
}

@keyframes testim-show {
from {
    opacity: 0;
    transform: scale(0);
}

to {
    opacity: 1;
    transform: scale(1);       
}
}

@-webkit-keyframes testim-hide {
from {
    opacity: 1;
    -webkit-transform: scale(1);       
    transform: scale(1);       
}

to {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
}

@-moz-keyframes testim-hide {
from {
    opacity: 1;
    -moz-transform: scale(1);       
    transform: scale(1);       
}

to {
    opacity: 0;
    -moz-transform: scale(0);
    transform: scale(0);
}
}

@-ms-keyframes testim-hide {
from {
    opacity: 1;
    -ms-transform: scale(1);       
    transform: scale(1);       
}

to {
    opacity: 0;
    -ms-transform: scale(0);
    transform: scale(0);
}
}

@-o-keyframes testim-hide {
from {
    opacity: 1;
    -o-transform: scale(1);       
    transform: scale(1);       
}

to {
    opacity: 0;
    -o-transform: scale(0);
    transform: scale(0);
}
}

@keyframes testim-hide {
from {
    opacity: 1;
    transform: scale(1);       
}

to {
    opacity: 0;
    transform: scale(0);
}
}
.footer{
    position: relative;
}


.footer h1{
    font-family: 'Anodina';
    font-weight: 900;
    font-style: normal;
    padding-top: 190px;
    color: #fff;
    text-transform: uppercase;
    font-size: 60px;
}

.footer h1 span {
  padding-bottom: 40px;
  border-bottom: 1px solid #3a6dff;
}

.footer h6{
    color: #fff;
    margin-top: 100px;
    width: 40%;
    font-family: 'Lato', sans-serif !important;
}

.footer h3 {
    color: #fff;
    padding-top: 70px;
    font-family: 'Anodina';
    font-weight: 500;
    font-style: normal;
    color: #fff;
    font-size: 25px;
}
#number{
    color: #fff;
    text-align: center;
    font-family: 'Anodina';
    font-weight: 900;
    font-style: normal;
    font-size: 30px;
}
#mail{
    color: #fff;
    text-align: center;
    font-family: 'Anodina';
    font-weight: 900;
    font-style: normal;
    font-size: 30px;
}

.contact-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 75px;
}
.contact-wrapper input{
    height: 60px;
    width:  240px;
    border-radius:5px;
    border: none;
    box-shadow: none;
    padding-left: 45px;
}
.contact-wrapper i{
    position: absolute;
    padding-top: 22px;
    padding-left: 25px;
}
.mail i{
    padding-top: 24px;
}
.name{
    margin-right: 25px;
}

.contact-wrapper button{
    margin-left: 10px;
    width: 75px;
    background-color: transparent;
    box-shadow: none;
    border-radius: none;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 5px;
}

    .copyright-wrapper{
       width: 100%;
       background-color:rgba(0, 0, 0, 0.36);
       height: 35px;
       font-family: Lato, sans-serif;
       font-weight: 300;   
       display: flex;
       justify-content: center;
       align-items: center;
    }
   .copyright{
       color: #adadad;
       font-size: 14px;
        position: absolute;
       bottom: 0;
        width: 100%;
       
    }
   .copyright span{
       color: #828282;
   }
   .social-xs{
       display: none;
   }
   .navbar-toggler{
       padding-top: 10px;
   }
   .navbar-dark .navbar-toggler-icon-custom{
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Anodina';
    font-weight: 500;
    margin-top: 10px !important;
   }
  
 
.navbar-toggler{
    color: #fff;
    border: none;
}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    z-index: 0;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, #0c0032 20%, #190061 80%);
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.area{
    background-image: linear-gradient(to bottom, #0c0032 20%, #190061 80%);  
    width: 100%;
    height:100vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 96.5vh;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}
@media screen and (max-width: 838px){
    .footer h6{
        width: 90%;
    }
    
}
@media screen and (max-width: 772px){
    .navbar{

       padding-top: 10px;
    }
    .contact-wrapper input{
        width: 100% !important;
        display: block;
    }
    .testimonials{
        position: relative;
        min-width: 10;;
    }
    .logo{
        padding-left: 35px;
        height: 30px;
    }
    .footer{
        height: auto;
        background-position: center;
        background-size: cover;
        position: relative;
    }
    .input-wrapper input {
        background: #fff;
        width: 210px;
        height: 50px;
        border: none;
        box-shadow: none;
        padding-left: 30px;
        z-index: 999;

    }
    .button-wrapper button {
        background-color: transparent;
        width: 100px;
        height: 50px;
        border: 1px solid #fff;
        box-shadow: none;
        color: #fff;
        position: absolute;
        top: -50px;
    }
    .button-wrapper{
        position: absolute;
        left: 86%;
        transform: translateX(-20%);
        }
        .contact-form-wrapper{
            position: absolute;
            left: 40%;
            transform: translateX(-40%);
            bottom: 
            z-index: 999;
        }
        .copyright-wrapper{
            width: 100%;
            background-color:rgba(0, 0, 0, 0.36);
            height: 35px;
            font-family: Lato, sans-serif;
            font-weight: 300;   display: flex;
            justify-content: center;
            align-items: center;
         }
        .copyright{
            color: #adadad;
            font-size: 14px;
            bottom: 0;
            width: 100%;
            margin-top: 200px;
         }
         .footer h3{
            padding-top: 20px;
        }
    
}
@media screen and (max-width: 765px){
    .navbar{
        background-color: rgba(0, 0, 0, 0.3);
background: rgba(0, 0, 0, 0.3);
color: rgba(0, 0, 0, 0.3);
    }
    .navbar-toggler {
        margin-top:3px !important;
    }
   .nav button{
       position: absolute;
       right: 10%;
   }
   .navbar-collapse ul{
       text-align: center;
   } 
   .social-wrapper ul li i{
       float: left;
   }
   .social{
       display: none;
   }
   .social-xs li{
     float: left;
    color: #fff;
    letter-spacing: 5px;
    text-align: center;
    }
    .social-xs{
        display: flex;
        justify-content: center;
        align-items: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contact-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .name{
        width: 95%;
        margin: 1%;

    }
    .mail{
        width: 95%;
        margin: 1%;
    }
   
    .contact-wrapper button{
        width: 95%;
        margin: 1%;
        margin-left: 8px;
        height: 60px;
        margin-bottom: 70px;
    }
    .footer h6{
        width: 100%;
    }
    .contact-wrapper{
        padding-top: 25px;
    }
}
  @media screen and (max-width: 677px) {
    .slogan h1{
        font-family: 'Franklin Gothic Heavy', arial;
        text-transform: uppercase;
        font-weight: 900;
        color: #fff;
        line-height: 42px;
        font-size: 60px;
    }
    
    h1 span{
        font-size: 80px;
    }
    .gallery-title-more{
        padding-top: 200px;
        width: 100%;
    }
    
    .gallery-title-more h6{
      text-align: center;
      font-family: 'Lato', sans-serif;
    }




    
  }

    @media all and (max-width: 500px) {
    .testim .arrow {
        font-size: 1.5em;
    }
    
    .testim .cont div p {
        line-height: 25px;
    }
    
  @media screen and (max-width: 421px) {
    .slogan h1{
        font-family: 'Franklin Gothic Heavy', arial;
        text-transform: uppercase;
        font-weight: 900;
        color: #fff;
        line-height: 29px;
        font-size: 40px;
    }
    h1 span{
        font-size: 60px;
        color: #ff5454;
    }
  }

  @media screen and (max-width:395px) {
        #mail {
            color: #fff;
            text-align: center;
            font-family: 'Anodina';
            font-weight: 900;
            font-style: normal;
            font-size: 20px;
        }
        #number{
            font-size: 20px; 
        }
  }  
  @media all and (max-galleryidth: 300px) {
    body {
        font-size: 14px;
    }
    }
    