body{
    padding: 0;
    margin: 0;
}

.logo-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding-left: 2%;
    height: 100vh;
}
.scrool{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    height: 100vh;
}
.logo-wrapper h1{
    color: #fff;
    font-size: 50px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}
.logo-wrapper p{
    color: #fff;
    font-size: 15px;
}
.logo-wrapper a{
    width: 100%;
    text-align: center;
}
.logo-wrapper img{
    padding-left: 10%;
    margin-top: 3%;
    height: 100px;
    flex-grow: 1;
}
.slogan{
    display: flex;
}
.separator{
    width: 1px;
    background-color: #fff;
    position: absolute;
    height: 100px;
    left: 33%;
}
.title-slogan{
    flex-grow: 2;
    padding-left: 30px;
}
#break{
    flex-basis: 100%;
    width: 0px; 
    height: 0px; 
    overflow: hidden;
  }
.fas{
    color: #fff;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding-bottom: 20px;
}
.separator{
    display: flex;
    justify-content: center;
    align-items: center;
}
.separator hr{
    width: 1px;
    background-color: #000;
    height: 100%;
}
.s-page{
    background: #8c43ff;
    height: 150vh;
}
.about{
    padding-top: 5%;
}
.about img{
    height: 350px;
    border-radius: 50%;
}
.about h1{
    color: #fff;
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    padding-top: 30px;
}
.about p{
    padding-left: 15%;
    padding-right: 15%;
    color: #fff;
}
.technologies{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.technologies-wrapper{
    background: #fff;
    width: 80%;
    min-height: 120vh;
    border-radius: 50px;
    background-color: #fff;
    border: 1px solid lightgrey;
   
}
.contaier-tech{
   width: 80% !important;
}
.box{
    z-index: 999;
    padding-top: 10%;
   text-align: center;
}
.box h2{
    color: #8c43ff;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}
.box p{
    padding: 35px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}
.box h1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    padding-top: 30px;
}
.t-page{
    margin-top: 5%;
    min-height: 100vh;
    background: url('../images/pascal-lottenbach-1073272-unsplash.jpg');    
    background-size: cover;
    background-position: center center;
}
.contact-box{
    background: #000;
    height: 100px;
    width: 250px;
}
textarea {
	resize: none;
}
.form-label {
	font-size: 12px;
	color: #8c43ff;
	margin: 0;
	display: block;
	opacity: 1;
	-webkit-transition: .333s ease top, .333s ease opacity;
	transition: .333s ease top, .333s ease opacity;
}
.contact-wrapper h1{
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    padding-top: 30px;  
    font-weight: 500;
    padding-bottom: 20px;
    font-size: 30px;
}
form{
    padding-top: 30px;
}
.form-control {
	border-radius: 0;
	border-color: lightgrey;
   	border-width: 0 0 2px 0;
   	border-style: none none solid none;
       box-shadow: none;
       background-color: transparent !important;
       color: #000;
}
.form-control:focus {
	box-shadow: none;
	border-color: #8c43ff;
}
.js-hide-label {
	opacity: 0; 	
}
.js-unhighlight-label {
	color:#000; 
}
.btn-start-order {
	background: 0 0 transparent;
    border: 1px solid #2f323a;
    border-radius: 3px;
    color: #2f323a;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: inherit;
    margin: 30px 0;
    text-transform: uppercase;
    transition: all 0.25s ease 0s;
}
.btn-start-order:hover,.btn-start-order:active, .btn-start-order:focus {
	border-color: #8c43ff;
	color: #8c43ff;
}
#particles-js{
    z-index: 1;
    background-color: #000;
    height: 100vh;
}
.f-page{
    height:100vh;
    background: #000;
    position: relative;
}
.socialmedia-wrapper{
    position: absolute;
    right:0;
    padding-right: 2%;
    padding-top: 2%;
}
.socialmedia-wrapper a{
    float: left;
    padding-left:10px;
   
}
.socialmedia-wrapper i{
    color: #8c43ff;
    font-size: 12px;
    padding-left: 2%;
}


@media only screen and (max-width: 739px){
    .socialmedia-wrapper{
       display: flex;
       justify-content: center;
       align-items: center;
       width: 100% !important;
       padding-right: 0;
    }
    .socialmedia-wrapper i{
        font-size: 20px;
    }
    .separator{
        display: none;
        
    }
    .slogan img{
        height: 100px;
    }
    .slogan{
        display:block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        text-align:center;
    }
    .title-slogan{
        flex-grow: none;
        padding: 0;
    }
    .logo-wrapper{
        width: 100%;
    }
    .logo-wrapper img{
        padding-left: 0;
    }
    .logo-wrapper p{
        color: #fff;
        font-size: 15px;
    }
    
}
@media only screen and (max-width: 628px){
    .socialmedia-wrapper div{
        width: 100%;
        text-align: center;
    }
}
@media only screen and (max-width: 433px){
    .logo-wrapper h1{
        font-size: 30px;
        padding-top: 10px;
    }
  
}
@media only screen and (max-width: 510px) {
    .about p {
        color: #fff;
        padding-left: 5%;
        padding-right: 5%;
    }
    .about img{
        height: 250px;
        border-radius: 50%;
    }
   
}
@media only screen and (max-width: 310px) {
    .about p {
        color: #fff;
        padding-left: 5%;
        padding-right: 5%;
    }
    .about img{
        height: 150px;
        border-radius: 50%;
    }
}
