body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.header {
    height: 96vh;
    background-color: #fff;
    position: relative;
}

.header-slogan {
    width: 100%;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
}

.header h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
}

.header h4 {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: 600;
}

.header-slogan h6{
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    line-height: 0;
    padding: 0;
    margin: 3px;
}
.header-slogan i {
    line-height: 0;
}

/*Animated modal*/
/*Animated modal*/
/*Animated modal*/
/*Animated modal*/
/*Animated modal*/
/*Animated modal*/
/*Animated modal*/
/*Animated modal*/
/*Animated modal*/
/*Animated modal*/
/*Animated modal*/
/*Animated modal*/
/*Animated modal*/
/*Animated modal*/
/*Animated modal*/
/*Animated modal*/
.modal-content{
    border: none !important;
}
.close-animatedModal {
    position: absolute;
    right: 0;
    font-size: 25px;
    padding-top: 40px;
    padding-right: 85px;
}

.brand-soon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;

}
#demo01{
    height: 100%;
    width: 100%;
}


.outer {
    position: absolute;
    right: 60px;
    margin: auto;
    width: 30px;
    cursor: pointer;
  }
  
  .inner {
    width: inherit;
    text-align: center;
  }
  
  label { 
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 40px;
    font-size: 10px; 
    line-height: 1;
    text-transform: uppercase;
    color: #000;
    transition: all .3s ease-in;
    opacity: 0;
    cursor: pointer;
  }
  
  .inner:before, .inner:after {
    position: absolute;
    content: '';
    height: 1px;
    width: inherit;
    background: #ff5050;
    left: 0;
    transition: all .3s ease-in;
  }
  
  .inner:before {
    top: 50%; 
    transform: rotate(45deg);  
  }
  
  .inner:after {  
    bottom: 50%;
    transform: rotate(-45deg);  
  }
  
  .outer:hover label {
    opacity: 1;
  }
  
  .outer:hover .inner:before,
  .outer:hover .inner:after {
    transform: rotate(0);
  }
  
  .outer:hover .inner:before {
    top: 1;
  }
  
  .outer:hover .inner:after {
    bottom: 1;
  }
/*navbar*/
/*navbar*/
/*navbar*/
/*navbar*/
/*navbar*/
/*navbar*/
/*navbar*/
/*navbar*/
/*navbar*/
/*navbar*/
/*navbar*/
/*navbar*/
/*navbar*/
/*navbar*/
/*navbar*/
/*navbar*/
/*navbar*/
/*navbar*/
/*navbar*/
.header-slogan button{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-color: #ff5050;
    color: #ff5050;
    border-radius: 30px;
    font-size: 13px;
    padding: 5px;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-slogan button:hover{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-color: #ff5050;
    background: #ff5050 !important;
    display: flex;
    color: #fff !important;
    justify-content: center;
    align-items: center;
}

.header-slogan button span{
    text-transform: uppercase;
    font-size: 10px;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus,
.btn span {
    outline: 0 !important;
    outline-color: transparent !important;
    outline-width: 0 !important;
    outline-style: none !important;
    box-shadow: 0 0 0 0 rgba(0,123,255,0) !important;
}

.btn-outline-success:not(:disabled):not(.disabled).active, .btn-outline-success:not(:disabled):not(.disabled):active, .show > .btn-outline-success.dropdown-toggle {
    border-color: #ff5050; 
}

.row-100{
    display: none;
}
.social-box{
    margin-bottom: 15px;
    border-radius: 10px;
}
.social-box span{
    padding: 5px;
    font-weight: 900;
    transition: 1s all;
}
.social-box span:hover{
    background: #ff5050;
    border-radius: 10px;
    color: #fff;
}
.logo-name{
    padding-top: 17px;
}
.logo-name h1{
    font-size: 12px;
    text-transform: uppercase;
    line-height: 0;
}
.logo-name h4{
    line-height: 1;
    font-size: 11px;

}
.form-inline {
    letter-spacing: 5px;
}

.navbar-brand img {
    height: 30px;
}

.nav-link {
    font-family: 'Quicksand', sans-serif;
    font-size: 10px;
    color: #000 !important;
    text-transform: uppercase;
}
.nav-item:hover{
    color: red;
}

.navbar-brand-xs {
    display: none;
}
.social-wrapper{
    letter-spacing: 5px;
    font-size: 12px;
    padding-top: 6px;
    position: relative;
}
.social-wrapper ul{
    right: 1px;
    top: 30px;
    position: absolute;
    list-style: none;
}
.social-wrapper li{
    transition: .5s all;
    padding-left: 5px;
    padding-top: 10px;
}
.social-wrapper li:hover{
    color: #ff5050;
    transform: scale(1.2);
}

.navbar{
    padding-top: 50px;
}
.separator{
    background-color: #cecece;
    width: 20%;
}
/* Boxy */
/* Boxy */
/* Boxy */
/* Boxy */
/* Boxy */
/* Boxy */
/* Boxy */
/* Boxy */
/* Boxy */
/* Boxy */
/* Boxy */
/* Boxy */
/* Boxy */
/* Boxy */
/* Boxy */
/* Boxy */
/* Boxy */
.box {
    height: 300px;
  
}
#box1{
    height: 300px;
    position: relative;
    text-align: center;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    background-image: url('../img/box.png');
    background-size: 100%;
    -webkit-transition: background-size .2s ease-in;
    filter: brightness(50%);
    transition: 1s all;
    
}
#box2{
    background: url('../img/box1.png');
    background-position: center;
    background-size: cover;
     cursor: pointer;
    background-size: 100%;
    -webkit-transition: background-size .2s ease-in;
     filter: brightness(50%);
    transition: 1s all;
}
#box3{
    background: url('../img/box2.png');
    background-position: center;
    background-size: cover;
     cursor: pointer;
     background-size: 100%;
    -webkit-transition: background-size .2s ease-in;
     filter: brightness(50%);
    transition: 1s all;
}
#box4{
    background: url('../img/box3.png');
    background-position: center;
    background-size: cover;
     cursor: pointer;
     background-size: 100%;
    -webkit-transition: background-size .2s ease-in;
     filter: brightness(50%);
    transition: 1s all;
}
#box5{
    background: url('../img/box4.png');
    background-position: center;
    background-size: cover;
     cursor: pointer;
     background-size: 100%;
    -webkit-transition: background-size .2s ease-in;
     filter: brightness(50%);
    transition: 1s all;
}
#box5{
    background: url('../img/box5.png');
    background-position: center;
    background-size: cover;
     background-size: 100%;
      cursor: pointer;
    -webkit-transition: background-size .2s ease-in;
     filter: brightness(50%);
    transition: 1s all;
}
#box6{
    background: url('../img/box6.png');
    background-position: center;
    background-size: cover;
     cursor: pointer;
     background-size: 100%;
    -webkit-transition: background-size .2s ease-in;
     filter: brightness(50%);
    transition: 1s all;
}

#box7{
    background: url('../img/box7.png');
    background-position: center;
    background-size: cover;
     cursor: pointer;
     background-size: 100%;
    -webkit-transition: background-size .2s ease-in;
     filter: brightness(50%);
    transition: 1s all;
}
#box8{
    background: url('../img/box8.png');
    background-position: center;
     cursor: pointer;
    background-size: cover;
     background-size: 100%;
    -webkit-transition: background-size .2s ease-in;
     filter: brightness(50%);
    transition: 1s all;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo i {
    color: #000;
    font-size: 15px;
}

#box1:hover{
    background-size: 110%;
    filter: brightness(100%)
}
#box2:hover{
    background-size: 110%;
     filter: brightness(100%)
}
#box3:hover{
    background-size: 110%;
     filter: brightness(100%)
}
#box4:hover{
    background-size: 110%;
     filter: brightness(100%)
}
#box5:hover{
    background-size: 110%;
     filter: brightness(100%)
}
#box6:hover{
    background-size: 110%;
     filter: brightness(100%)
}
.hover-on {
    display: block !important;
}
#box7:hover{
    background-size: 110%;
     filter: brightness(100%)
}
#box8:hover{
    background-size: 110%;
     filter: brightness(100%)
}


/*BUTTON*/
/*BUTTON*/
/*BUTTON*/
/*BUTTON*/
/*BUTTON*/
/*BUTTON*/
/*BUTTON*/
/*BUTTON*/
/*BUTTON*/
/*BUTTON*/
/*BUTTON*/
/*BUTTON*/
/*BUTTON*/
/*BUTTON*/
/*BUTTON*/
/*BUTTON*/
/*BUTTON*/
/*BUTTON*/
/*BUTTON*/
/*BUTTON*/
/*BUTTON*/
/*BUTTON*/
.mobile-menu-toggle {
    cursor: pointer;
    height: 45px;
    margin: 0 auto;
    position: relative;
    width: 70px;
}

.menu-line {
    background-color: #fff;
    display: block;
    height: 2px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 15px;
    transition: all 200ms;
}

.mobile-menu-toggle[data-state="open"] .top-line {
    transform: translateY(24px) rotate(45deg);
}

.mobile-menu-toggle[data-state="open"] .bottom-line {
    transform: translateY(24px) rotate(-45deg);
}

.top-line {
    transform: translateY(19px);
}

.bottom-line {
    transform: translateY(27px);
}

/*ABOUT ME*/
/*ABOUT ME*/
/*ABOUT ME*/
/*ABOUT ME*/
/*ABOUT ME*/
/*ABOUT ME*/
/*ABOUT ME*/
/*ABOUT ME*/
/*ABOUT ME*/
/*ABOUT ME*/
/*ABOUT ME*/
/*ABOUT ME*/
/*ABOUT ME*/
/*ABOUT ME*/
/*ABOUT ME*/
/*ABOUT ME*/
/*ABOUT ME*/
/*ABOUT ME*/
/*ABOUT ME*/
/*ABOUT ME*/
/*ABOUT ME*/
    .mexxs{
        display: none;
    }
    .mexs{
        display: none !important;
    }
    .about-wrapper{
        height: 100vh;
        background: #fff;   
        }
    .my-photo{
        flex: 0 0 50% !important;
        max-width: 50% !important;
    }
    .my-photo img{
        height: 100vh;
    }
    .info-wrapper{
        padding: 100px;
        flex: 0 0 50% !important;
        max-width: 50% !important;
}

.info-wrapper h1{
    font-family: 'Quicksand', sans-serif;
    font-weight: 900;
    line-height: 1;
}
.info-wrapper h2{
    font-family: 'Quicksand', sans-serif;
    font-weight: 200;
}
.info-wrapper h4{
    font-family: 'Quicksand', sans-serif;
    font-weight: 200;
    padding-top: 50px;
}
.info-wrapper p{
    padding-top: 15px;
    font-size: 17px;
}
.tech-wrapper{
    padding-top: 60px;
}
.tech-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    text-align: center;
    padding-top: 30px;
}
.tech-box i{
    font-size: 40px;
    text-align: center;
}

.tech-box:hover{
    color: #ff5050;
}





/*Contact*/
/*Contact*/
/*Contact*/
/*Contact*/
/*Contact*/
/*Contact*/
/*Contact*/
/*Contact*/
/*Contact*/
/*Contact*/
/*Contact*/
/*Contact*/
/*Contact*/
/*Contact*/
/*Contact*/
.label{
    font-family: 'Quicksand', sans-serif;
    font-size: 10px;
    color: #e3e3e3;
}
.md-form{
    padding-bottom: 40px;
}
.contact-wrapper{
    height: 100vh;
    background-color: #000;
}
.title-box h1{
    color: #fff;
    padding-left: 100px;
    padding-top: 100px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 900;
    line-height: 1;
}
.title-box h2{
    color: #fff;
    padding-left: 170px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 25px;
}
.form-wrapper{
    padding-top: 100px;
}


.form-control{
    background: transparent;
    border-bottom: 1px solid;
    border-color:rgb(44, 44, 44));
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px !important;
}

.form-control:hover{
    background: transparent;
    border-bottom: 1px solid;
    border-color:rgb(44, 44, 44));
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px !important;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.md-textarea:focus,
.uneditable-input:focus {   
    background: transparent !important;
  border-color: #ff5050;
  box-shadow: none !important;
  color: #fff;
  outline: 0 none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border:none !important;
  -webkit-text-fill-color: #fff !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  border-bottom: 1px solid #4a5158 !important;
  color: #fff;
}
.btn{
    border: 1px solid #d9d9d9;
    color: grey !important;
    width: 100%;
}
.btn:hover{
    border: 1px solid #ff4e36;
    color: #000 !important;
    background: #fff;
    border: #fff;
}
.contact-icons-wrapper ul li{
    float: left;
}

.list-unstyled {
    padding-top: 20px;
  
}
.list-unstyled p{
    color: #d9d9d9;
    padding-top: 12px;
    font-size: 10px;
    font-family: 'Quicksand', sans-serif;

}
.list-unstyled i {
    color: #d9d9d9;
}
/*Footer*/
/*Footer*/
/*Footer*/
/*Footer*/
/*Footer*/
/*Footer*/
/*Footer*/
/*Footer*/
/*Footer*/
/*Footer*/
/*Footer*/
/*Footer*/
/*Footer*/
/*Footer*/
/*Footer*/
/*Footer*/
/*Footer*/
/*Footer*/
/*Footer*/

.footer-wrapper{
    font-family: 'Quicksand', sans-serif;
    font-weight: 900;
    font-size: 9px;
    color: #9e9e9e;
    background: #010101;
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Media Q*/
/*Media Q*/
/*Media Q*/
/*Media Q*/
/*Media Q*/
/*Media Q*/
/*Media Q*/
/*Media Q*/
/*Media Q*/
/*Media Q*/
/*Media Q*/
/*Media Q*/
/*Media Q*/
/*Media Q*/
/*Media Q*/
/*Media Q*/

